<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap CRUD Data Table for Users with Modal Form</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{styles/users.css}">
</head>
<body>
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Manage Users</h2>
                </div>
                <div class="col-sm-6">
                    <a href="#addUserModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New User</span></a>
                    <div class="btn-group dropright">
                        <button id="custom-dropdown-btn" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort by
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/?sortBy=firstName">First Name</a>
                            <a class="dropdown-item" href="/?sortBy=lastName">Last Name</a>
                            <a class="dropdown-item" href="/?sortBy=email">Email</a>
                            <a class="dropdown-item" href="/?sortBy=date">Date of Birth</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th id="firstName">First Name</th>
                <th id="lastName">Last Name</th>
                <th id="email">Email</th>
                <th id="dob">Date of Birth</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${users.empty}">
                <td colspan="2"> No Users Available </td>
            </tr>
            <tr th:each="user : ${users}">
                <td><span th:text="${user.firstName}"> First Name </span></td>
                <td><span th:text="${user.lastName}"> Last Name</span></td>
                <td><span th:text="${user.email}"> Email</span></td>
                <td><span th:text="${#dates.format(user.dateOfBirth, 'dd/MM/yyyy')}"> Date of Birth</span></td>
                <td>
                    <a href="#editUserModal" class="edit" th:alt="${user.id}"  data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                    <a href="#deleteUserModal" class="delete" th:alt="${user.id}" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix">
            <div class="hint-text">Total number of users: <b><span th:text="${count}"> Count </span></b></div>
        </div>
    </div>
</div>

<!-- Add User Modal HTML -->
<div id="addUserModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Add User</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>First Name</label>
                        <input id="addFirstName" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input id="addLastName" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input id="addEmail" tyle="email" class="form-control" placeholder="email@mail.com" required>
                    </div>
                    <div class="form-group">
                        <label>Date of Birth</label>
                        <input id="addDateOfBirth" type="text" class="form-control" placeholder="DD/MM/YYY" required>
                    </div>
                    <div class="alert alert-danger names-error" role="alert">
                        <span>Missing name field!</span>
                    </div>
                    <div class="alert alert-danger email-error" role="alert">
                        <span>Invalid email address!</span>
                    </div>
                    <div class="alert alert-danger date-error" role="alert">
                        <span>Invalid Date of Birth!</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input id="add-user" class="btn btn-success" value="Add" >
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit Modal HTML -->
<div id="editUserModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Edit User</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>First Name</label>
                        <input id="updateFirstName" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input id="updateLastName" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input id="updateEmail" type="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Date of Birth</label>
                        <input id="updateDate" type='text' class="form-control" required>
                    </div>
                    <div class="alert alert-danger names-error" role="alert">
                        <span>Missing name field!</span>
                    </div>
                    <div class="alert alert-danger email-error" role="alert">
                        <span>Invalid email address!</span>
                    </div>
                    <div class="alert alert-danger date-error" role="alert">
                        <span>Invalid Date of Birth!</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input id="update-user" class="btn btn-info" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Modal HTML -->
<div id="deleteUserModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Delete User</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this record?</p>
                    <p class="text-warning"><small>This action cannot be undone.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-danger delete-user" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/users.js}"></script>
</body>
</html>